.v-list
    background: transparent !important

.pixel-card
  // border: 10px ridge #743f39
  outline: 4px solid black !important
  box-shadow: 0px 0px 0px 4px #b86f50 inset, 0px 0px 0px 8px #743f39 inset, 0px 0px 0px 12px #3f2832 inset, 0px 0px 0px 16px #000 inset !important
  background-color: #eddcbc
  padding: 4px 4px 4px 4px
  &-top
    outline: 4px solid black
    box-shadow: 0px 4px 0px 0px #b86f50 inset, 0px 8px 0px 0px #743f39 inset, 0px 12px 0px 0px #3f2832 inset, 0px 16px 0px 0px #000 inset !important
    background-color: #eddcbc !important