.v-list
    background: transparent !important

#view-box
  background-color: #a94949

.pixel-card-alternate
  outline: 3px solid #8b6c5e !important
  background-color: #c0a899 !important
  box-shadow: 0px 3px 0px 0px #e3cebf inset, 0px -3px 0px 0px #a18774 inset !important
  padding: 4px 4px 4px 4px
  border-radius: 0px !important

.quest-item
  .v-list-item
    height: 65px
    color: #dac3b2
  &-blue
    border: 4px solid #657baa
  &-red
    border: 4px solid #b95f5f
  &-yellow
    border: 4px solid #e1b35d
  &-black
    border: 4px solid #222034
  &-green
    border: 4px solid #37946e

#sm-border-deco
  position: absolute
  height: 14px
  width: 14px
  &-1
    @extend #sm-border-deco
    left: -3px
    top: -3px
  &-2
    @extend #sm-border-deco
    right: -3px
    top: -3px
    -webkit-transform: scaleX(-1)
    transform: scaleX(-1)
  &-3
    @extend #sm-border-deco
    left: -3px
    bottom: -3px
    -webkit-transform: scaleX(-1) rotate(180deg)
    transform: scaleX(-1) rotate(180deg)
  &-4
    @extend #sm-border-deco
    right: -3px
    bottom: -3px
    -webkit-transform: rotate(180deg)
    transform: rotate(180deg)

.v-slide-group__prev--disabled, .v-slide-group__next--disabled
  display: none !important