@import './colors.sass'

html, #app
    overflow: hidden !important
    font-family: 'monocraftmedium' !important

@font-face
    font-family: 'monocraftmedium'
    src: url('assets/font/monocraft-webfont.woff2') format('woff2'), url('assets/font/monocraft-webfont.woff') format('woff')
    font-weight: normal
    font-style: normal